# Binaries & Temp Files
*.obj
*.pdb
*.tmp
*.log
bin/
obj/
.vs/
.vscode/

# Keep main setup, assets and version.json
!Setup_ClientProjectGenerator.exe
!version.json
!assets/

# Keep Source Code private locally
Source_Code/
